{% extends "main/template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/anime.css' %}">
{% endblock %}

{% block content %}
<div class="anime-list">
    <div class="anime-list-wrapper">
        {% for anime in anime_list %}
        <div class="anime">
            <div class="title">{{ anime.title_rus }} / {{ anime.title_foreign }}</div>
            <img src="{{ anime.image.url }}" alt="{{ anime.title }}" class="anime-cover">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}