{% extends "main/template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/anime.css' %}">
{% endblock %}

{% block content %}
<div class="anime-list">
    {% for anime in anime_list %}
    <div class="anime">
        <img src="{{ anime.image.url }}" alt="{{ anime.title }}" class="anime-cover">
        <div class="anime-info">
            <div class="anime-title"><a href="anime/{{ anime.id }}">{{ anime.title_rus }} / {{ anime.title_foreign }}</a></div>
            <div class="anime-season"><b>Сезон: </b>{{ anime.season }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}