{% extends "main/template.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/anime.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}


{% block js %}
    <script src="{% static 'js/front/comment.js' %}"></script>
    <script src="{% static 'js/front/anime.js' %}"></script>
{% endblock %}


{% block content %}
<div class="anime-page">
    <div class="description-block">
        <img src="{{ anime.image.url }}" class="anime-cover" alt="{{ anime.title_rus }} / {{ anime.title_foreign }}">
        <div class="anime-info">
            <div class="title"><b>Название: </b>{{ anime.title_rus }} / {{ anime.title_foreign }}</div>
            <div class="season"><b>Сезон: </b>{{ anime.season }}</div>
            <div class="episodes-quantity"><b>Кол-во эпизодов: </b>{{ anime.episodes_quantity }}</div>
            <div class="start-date"><b>Дата начала: </b>{{ anime.start_date }}</div>
            <div class="description"><b>Описание: </b><br>{{ anime.description }}</div>
        </div>
    </div>
    <div class="watch-block">
        <h1>Watch</h1>
    </div>
    <div class="comments-block">
        {% for comment in comments %}
        <div class="comment" id="comment{{ comment.id }}">
            <div class="author-image"><img src="{{ comment.author.image.url }}" alt=""></div>
            <div class="comment-info">
                <div class="author">{{ comment.author }}</div>
                <div class="text">{{ comment.text }}</div>
                <div class="publish-date">{{ comment.publish_date }}</div>
            </div>
            {% if role == 3 or comment.author.base_user.id is user.id %}
            <div class="comment-management">
                <img src="{% static 'img/icons/delete.png' %}" alt="Удалить комментарий" class="delete-comment" data-id="{{ comment.id }}">
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <textarea placeholder="Ваш комментарий..." class="form-control send-comment-textarea"></textarea>
        <button class="btn btn-primary send-comment-button">Отправить комментарий</button>
    </div>
</div>
<div id="anime-id" style="display: none;">{{ anime.id }}</div>
{% endblock %}