{% extends "main/template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/anime.css' %}">
{% endblock %}

{% block content %}
<div class="anime-list">
    {% for anime in anime_list %}
    <div class="anime">
        {% if no_image is False %}
        <img src="{{ anime.image.url }}" alt="{{ anime.title }}" class="anime-cover">
        {% endif %}
        <div class="anime-info">
            <div class="anime-title"><a href="{% url 'watch_anime_view' anime.id %}">{{ anime.title_rus }} / {{ anime.title_foreign }} [TV-{{ anime.season }}]</a> {% if role == 3 %}<a href="{% url 'cms_manage_anime_view' anime.id %}" class="btn btn-success anime-edit-button" target="_tab">Редактировать</a>{% endif %}</div>
            <div class="anime-genre-list"><b>Жанры: </b>{{ anime.genre_links|safe }}</div>
            <div class="anime-episodes-quantity"><b>Кол-во эпизодов: </b> {{ anime.episodes_quantity }}</div>
            <div class="anime-start-date"><b>Дата начала: </b> <a href="{% url 'watch_year_view' anime.start_date.year %}">{{ anime.start_date.year }}</a></div>
            <div class="anime-description"><b>Описание: </b> <div class="anime-description-text">{{ anime.description|safe }}</div></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}