.comment {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

.comment .author-image,
.comment .author-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #000;
}

.comment .comment-info {
    width: 100%;
    margin-left: 10px;
    position: relative;
}

.comment .comment-info .author {
    font-weight: bold;
}

.comment .comment-info .text {
    background: #edeef0;
    padding: 5px 10px;
}

.comment .comment-info .publish-date {
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(131, 131, 131);
}

.comment .comment-management {
    position: absolute;
    right: 5px;
    top: 25px;
}

.comment .comment-management > * {
    cursor: pointer;
    width: 24px;
    height: 24px;
}