body {
    margin: 0;
    padding: 0;
    background-color: #edeef0;
}

.container-fluid {
    padding: 0;
}

/* DIV который содержит все столбцы */
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Каждый столбец */
.column-container {
    box-sizing: border-box;
    margin: 10px;
}

/* Левый столбец */
.left-container {
    flex: 1;
    background-color: #313131;
    color: #edeef0;
    border-radius: 10px;
    height: 1000px;
}

/* Центральный столбец */
.center-container {
    flex: 5;
    background: #fff;
}

.text-block {
    background: rgb(223, 223, 223);
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.page-header {
    text-align: center;
    border-top: 2px solid rgb(119, 119, 119);
    border-bottom: 2px solid rgb(119, 119, 119);
    margin-top: 10px;
    padding: 3px 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.feedback-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback-form-wrapper .feedback-form {
    display: block;
    width: 65%;
    height: 300px;
}

.feedback-form-wrapper .btn {
    margin-top: 10px;
}