.file-manager {
    width: 100%;
    height: 600px;
    background: rgb(72, 109, 131);
    border: 2px solid rgb(72, 109, 131);
    position: relative;
}

.file-manager .fm-buttons {
    background: #eee;
    padding: 5px 0;
}

.file-manager .fm-buttons > * {
    cursor: pointer;
    margin-left: 10px;
}

.file-manager .modal {
    display: none;
    background: #fff;
}

.file-manager .modal .apply-modal,
.file-manager .modal .close-modal {
    cursor: pointer;
    font-size: 20px;
}

.file-manager .modal-input {
    position: absolute;
    width: 200px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -50px;
}

.file-manager .modal .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
}

.file-manager .modal .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.file-manager .modal .footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file-manager .modal .footer > * {
    margin: 0 5px;
}

.file-manager .modal .footer .error-msg {
    color: rgb(212, 52, 52);
}

.file-manager .modal .title {
    font-size: 16px;
}


/* Файлы и папки */
.file-manager .file-objects {
    /*  */
}

.file-manager .file-objects .object {
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    color: #fff;
    font-size: 16px;
}

.file-manager .file-objects .object:hover {
    cursor: pointer;
    background: rgba(72, 109, 131, 0.5);
}