.file-manager {
    width: 100%;
    height: 600px;
    background: rgb(72, 109, 131);
    border: 2px solid rgb(72, 109, 131);
    position: relative;
}

.file-manager .fm-buttons {
    background: #eee;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
}

#back-folder,
#create-folder,
#rename-folder,
#delete-folder,
#upload-file {
    display: flex;
    flex-direction: row;
}

#folder-name {
    position: absolute;
    top: 5px;
    right: 5px;
}

#back-folder > *,
#create-folder > *,
#rename-folder > *,
#delete-folder > *,
#upload-file > * {
    margin-left: 5px;
}

.file-manager .fm-buttons > * {
    cursor: pointer;
    margin-left: 10px;
}

.file-manager .fm-buttons > *:hover {
    color: rgb(72, 109, 131);
}

.file-manager .background-cover {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* FileManager Modal */

.file-manager .modal { display: none; background: #fff; z-index: 3; }
.file-manager .modal .apply-modal,
.file-manager .modal .close-modal { cursor: pointer; font-size: 20px; }

.file-manager .modal-input {
    position: absolute;
    width: 200px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -50px;
}

.file-manager .modal .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
}

.file-manager .modal .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.file-manager .modal .footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file-manager .modal .footer > * { margin: 0 5px; }
.file-manager .modal .footer .error-msg { color: rgb(212, 52, 52); }
.file-manager .modal .title { font-size: 16px; }


/* Файлы и папки */
.file-manager .file-objects {}

.file-manager .file-objects .object-wrapper { display: inline-block; }

.file-manager .file-objects .object {
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    color: #fff;
    font-size: 16px;
    max-width: 20px;
}

.file-manager .file-objects .object:hover { cursor: pointer; background: rgba(72, 109, 131, 0.5); }