{% extends "cms/template.html" %}
{% load static %}

{% block css %}
<style>
    .cms-table {
        width: 100%;
        font-size: 15px;
    }

    .cms-table tr td,
    .cms-table tr th {
        border: 1px solid #000;
        box-sizing: border-box;
        padding: 5px 10px;
    }

    .cms-table tr:hover {
        background: rgb(223, 223, 223);
        transition: .25s;
    }

    .cms-table tr td.yellow { color: rgb(204, 204, 82); }
    .cms-table tr td.green { color: rgb(62, 190, 73); }
    .cms-table tr td.red { color: rgb(185, 74, 74); }
</style>
{% endblock %}


{% block js %}
<script src="{% static 'cms/js/elastic.js' %}"></script>
<script>
    var elasticManager = new ElasticManager();
</script>
{% endblock %}


{% block content %}
{% if status is False %}
<div>
    <h3 style="color: rgb(179, 62, 62);">Сервер ElasticSearch не отвечает</h3>
</div>
{% endif %}
<div class="fill-indcices">
    <a href="{% url 'cms_elastic_fill_get' 'anime' %}" class="btn btn-primary">Заполнить индекс анимешками</a>
</div>
<div class="indices">
    <h1>Индексы</h1>
    <table class="cms-table">
        <tr>
            <th>Статус</th>
            <th>Название</th>
            <th>Хеш код</th>
            <th>Кол-во документов</th>
            <th>Кол-во удаленных документов</th>
            <th>Размер</th>
            <th></th>
        </tr>
        {% for index in indices %}
        <tr class="index">
            <td class="{{ index.status }}" data-name="status">{{ index.status }}</td>
            <td data-name="name">{{ index.name }}</td>
            <td data-name="hash_code">{{ index.hash_code }}</td>
            <td data-name="docs_count">{{ index.docs_count }}</td>
            <td data-name="delete_count">{{ index.delete_count }}</td>
            <td data-name="size">{{ index.size }}</td>
            <td><a href="{% url 'cms_elastic_delete_index_ajax' index.name %}" data-type="index" class="btn btn-danger delete-btn delete-index">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}