{% extends "cms/template.html" %}

{% block js %}
<script>
    // это костыль, нужно понять как автозаполнить textarea
    $(function() {
        let textareas = $('textarea');
        let text = textareas.attr('value');
        textareas.text(text);
    });
</script>
{% endblock %}

{% block content %}
<form action="{% url 'cms_manage_anime_post' %}" method="POST">{% csrf_token %}
    {% for field in manage_anime_form %}
    <div class="form-group">
        {% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
        {% endif %}

        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <button type="button" class="btn btn-danger">Удалить</button>
    <a href="{% url 'watch_anime_view' anime_id %}" class="btn btn-info" target="_blank">На страницу аниме</a>
</form>
{% endblock %}