{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - Anime</title>

    <!-- Шрифты -->
    <link rel="stylesheet" href="{% static 'fonts/Frijole-Regular.ttf' %}">
    <link rel="stylesheet" href="{% static 'fonts/UbuntuCondensed-Regular.ttf' %}">

    <!-- Стили -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/left-navigation.css' %}">
    {% block css %}
    {% endblock %}

</head>
<body>

    <div id="wrapper">
        <div class="container-fluid">
            <!-- Навигация по сайту -->
            <nav>
                <div class="logo"><a href="{% url 'home_view' %}">Anime</a></div>
                <ul>
                    {% for link in navbar_links %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="auth">
                    <ul>
                        {% if user is not None %}
                        <li><a href="{% url 'logout_get' %}">Выйти [{{ user.username }}]</a></li>
                        {% else %}
                        <li><a href="{% url 'signin_view' %}">Войти</a></li>
                        <li><a href="{% url 'signup_view' %}">Зарегестрироваться</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                {% if module == 'watch' %}
                <h1>Watch module</h1>
                {% endif %}
            </div>
            
            <!-- Основной контент сайта -->
            <div class="container-fluid main-container">
                <div class="left-container column-container">
                    <div class="left-navigation">
                        <h1>Жанры аниме</h1>
                        <ul>
                            {% for genre in genre_list %}
                            <li>{{ genre.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="center-container column-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <!-- Футер сайта -->
            <footer>
                Anime (c) 2020
            </footer>
        </div>
    </div>

    <!-- Скрипты -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block js %}
    {% endblock %}

</body>
</html>