body {
    margin: 0;
    padding: 0;
    background-color: #edeef0;
}

.container-fluid {
    padding: 0;
}

/* DIV который содержит все столбцы */
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Каждый столбец */
.column-container {
    box-sizing: border-box;
    margin: 10px;
}

/* Левый столбец */
.left-container {
    flex: 1;
    background-color: #313131;
    color: #edeef0;
    border-radius: 10px;
}

/* Центральный столбец */
.center-container {
    flex: 5;
    background: #fff;
}
